@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
:root {
  --primary-color: #d1d5db;
}
.App {
  font-family: "Noto Serif", serif;
  text-align: center;
}
body {
  background-color: var(--primary-color);
}
